.find-out {
	position: relative;
	background-color: $darkViolet;
	z-index: 1;
	margin-bottom: 5rem;

	.pattern {
		position: relative;

		&::before {
			content: url('../assets/bg-pattern-how-we-work-mobile.svg');
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;

			@include breakpoint-up(medium) {
				content: url('../assets/bg-pattern-how-we-work-desktop.svg');
			}
		}
	}

	.container {
		padding: 4rem 2rem;

		@include breakpoint-up(medium) {
			display: flex;
			padding: 4rem;
			justify-content: space-between;
		}

		h2 {
			color: $white;
			text-align: center;
			font-family: $font-heading;
			font-weight: 400;
			font-size: 2.5rem;
			margin-bottom: 2rem;

			@include breakpoint-up(medium) {
				text-align: left;
				width: 40%;
				margin-bottom: 0;
			}
		}

		.button {
			@include breakpoint-up(medium) {
				margin: 0;
				height: 3.125rem;
				align-self: center;
			}
		}
	}
}
