.header {
	.container {
		padding: 2rem;
	}

	.overlay {
		position: absolute;
		background-color: bisque;
		width: 100%;
		height: calc(100vh - 104px);
		margin-top: 6.5rem;
	}

	&__link {
		font-size: 11px;
		font-family: $font-body;
		text-transform: uppercase;
		color: $darkGrayishViolet;

		&:not(:first-child) {
			margin-left: 15px;
		}

		&.cta {
			padding: 10px 20px;
			border: 1px solid $darkViolet;
			color: $darkViolet;
			margin-left: 15px;
			font-weight: bold;
		}
	}

	&__toggle {
		border: 2px solid $darkViolet;
		padding: 10px;
		> span {
			display: block;
			width: 18px;
			height: 2px;
			background-color: $darkViolet;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}
