.main {
	&__img {
		display: block;
		width: 100%;

		@include breakpoint-up(medium) {
			grid-column: 2/3;
			grid-row: 1/-1;
		}

		&.desktop {
			display: none;
			@include breakpoint-up(medium) {
				position: absolute;
				display: block;
				margin-bottom: -12.1875rem;
				padding-left: 1.25rem;
			}
		}

		&.mobile {
			display: block;
			@include breakpoint-up(medium) {
				display: none;
			}
		}
	}

	&__text_wrap {
		position: relative;
		background-color: $darkViolet;
		z-index: 1;

		.pattern-left {
			position: relative;

			&::before {
				position: absolute;
				content: url('../assets/bg-pattern-intro-left-mobile.svg');
				top: 0;
				left: 0;
				background-repeat: no-repeat;
				z-index: -1;
				background-position: left top;

				@include breakpoint-up(medium) {
					content: url(../assets/bg-pattern-intro-left-desktop.svg);
				}
			}
		}

		.pattern-right {
			position: absolute;
			content: url('../assets/bg-pattern-intro-right-mobile.svg');
			bottom: -12rem;
			right: 0;
			background-repeat: no-repeat;

			@include breakpoint-up(medium) {
				content: url(../assets/bg-pattern-intro-right-desktop.svg);
				top: 0;
				bottom: 0;
				width: 300px;
			}
		}

		.container {
			@include breakpoint-up(medium) {
				position: relative;
				display: grid;
				grid-template-columns: 1fr 1fr;
				padding-top: 6.875rem;
				padding-bottom: 0;
			}

			@include breakpoint-up(large) {
				padding-bottom: 3.5rem;
			}

			h1 {
				color: $white;
				font-family: $font-heading;
				text-align: center;

				@include breakpoint-up(medium) {
					margin: 0;
					grid-column: 1/2;
					text-align: left;
				}

				&::before {
					@include breakpoint-up(medium) {
						content: '';
						position: absolute;
						width: 9.375rem;
						height: 0.0625rem;
						background-color: $white;
						top: 4.6875rem;
					}
				}
			}

			p {
				font-family: $font-body;
				font-weight: light;
				color: $white;
				text-align: center;

				@include breakpoint-up(medium) {
					margin: 0.9375rem 0 0 0;
					grid-column: 1/2;
					text-align: left;
					font-size: 16px;
				}
			}

			button {
				@include breakpoint-up(medium) {
					grid-column: 1/2;
					padding: 0;
					height: 2.25rem;
					width: 8.75rem;
					margin: 15px 0 0 0;
				}
			}
		}
	}
}
